* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.root {
  margin: 0;
  min-width: 320px;
  font-family: Montserrat, sans-serif;
  color: #000;
}

.root__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1110px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.header__title {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

.header__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.header__arrow {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: block;
  width: 48px;
  height: 48px;
  transform: translate(-50%, 0);
}

.portfolio {
  padding: 80px 0 115px;
}

.portfolio__title {
  margin: 0 0 70px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #000;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__link {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease-in;
}

.card__link:hover {
  color: rgb(39 91 236);
}

.card__item {
  margin-bottom: 30px;
  width: 100%;
  max-width: 530px;
  box-shadow: 0 10px 40px rgb(126 155 189 / 35%);
  background-color: #fff;
  transition: transform 0.2s ease-in;
}

.card__item:hover {
  transform: translateY(-15px);
}

.card__item:last-child,
.card__item:nth-last-child(2) {
  margin-bottom: 0;
}

.card__image {
  margin-bottom: 20px;
}

.card__title {
  margin: 0 0 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.card__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 130%;
}

.footer {
  padding: 45px 0 130px;
  background: #1e4776;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.footer__copyright {
  flex-grow: 1;
  max-width: 350px;
  line-height: 1.3;
  color: #7e9ec9;
}

.footer__copyright-name {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 28px;
}

.footer__copyright-description {
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 16px;
}

.footer__icons {
  flex-grow: 1;
  max-width: 350px;
}

.footer__icons-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.footer__icon-list {
  display: flex;
  align-items: center;
}

.footer__icon-list > * + * {
  margin-left: 35px;
}

.footer__contacts {
  flex-grow: 1;
  max-width: 350px;
}

.footer__contacts-btn {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0 30px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
}

.footer__contacts-btn:hover {
  color: #1e4776;
  background-color: #fff;
}

.footer__contacts-description {
  margin: 15px 0;
  font-size: 15px;
  line-height: 1.3;
  color: #7e9ec9;
}

.project {
  padding: 80px 0 120px;
  text-align: center;
}

.project__header {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
}

.project__img {
  margin-bottom: 70px;
  box-shadow: 0 10px 40px rgb(126 155 189 / 35%);
}

.project__content {
  display: block;
  border-radius: 10px;
}

.projects__description {
  margin: 0 auto 60px;
  max-width: 730px;
  text-align: center;
}

.projects__description p {
  margin: 0 0 15px;
  font-size: 16px;
  line-height: 1.5;
}

.project__link {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  color: #2f73b6;
}

.project__link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #225384;
  transition: width 0.4s ease-in-out;
}

.project__link:hover::after,
.project__link:focus::after {
width: 100%;
}

.poject__btn-back {
  display: inline-block;
  border: 3px solid #275bec;
  border-radius: 50px;
  padding: 0 30px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 54px;
  text-decoration: none;
  text-transform: uppercase;
  color: #275bec;
  transition: all 0.4s ease-out;
}

.poject__btn-back:hover {
  color: #fff;
  background-color: #275bec;
}
